OperaServer/src/main/resources/Name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Shaji Sethu (Fidelio Cruise Software Gmbh) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Micros Systems Inc (Micros Systems Inc) -->
<xs:schema targetNamespace="http://webservices.micros.com/og/4.3/Name/" xmlns:tns="http://webservices.micros.com/og/4.3/Name/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c="http://webservices.micros.com/og/4.3/Common/" xmlns:hc="http://webservices.micros.com/og/4.3/HotelCommon/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.3">
	<xs:import namespace="http://webservices.micros.com/og/4.3/Common/" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://webservices.micros.com/og/4.3/HotelCommon/" schemaLocation="HotelCommon.xsd"/>
	<xs:element name="Profile" type="tns:Profile"/>
	<xs:complexType name="BlackList">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="flag" type="c:BlackListFlag"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Comment">
		<xs:complexContent>
			<xs:extension base="c:DescriptiveText">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="commentTitle" type="xs:string"/>
				<xs:attribute name="commentType" type="xs:string" use="optional"/>
				<xs:attribute name="globalYn" type="xs:string" use="optional"/>
				<xs:attribute name="internalYn" type="xs:string" use="optional"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommentList">
		<xs:annotation>
			<xs:documentation>Collection of Comment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Comment" type="tns:Comment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Company">
		<xs:sequence>
			<xs:element name="CompanyName" type="xs:string"/>
			<xs:element name="CompanyType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRAVEL_AGENT"/>
						<xs:enumeration value="COMPANY"/>
						<xs:enumeration value="SOURCE"/>
						<xs:enumeration value="GROUP"/>
						<xs:enumeration value="CONTACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In case of Travel Agent it will be the IATA code and in case of Company can be any form of identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="commissionCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="PersonName" type="c:PersonName"/>
			<xs:element name="NativeName" type="tns:NativeName" minOccurs="0"/>
			<xs:element name="BusinessTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="GovernmentIDList" type="c:GovernmentIDList" minOccurs="0">
						<xs:annotation>
					<xs:documentation>Reservation schema refers same customer element as part of Profile complex type to manage profiles however  GovernmentID is not supported by Reservation WS</xs:documentation>
			</xs:annotation>
		</xs:element>
		</xs:sequence>
		<xs:attribute name="gender" type="c:Gender"/>
		<xs:attribute name="birthDate" type="xs:date"/>
		<xs:attribute name="profileType" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="NameAddress">
		<xs:complexContent>
			<xs:extension base="c:Address">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="primary" type="xs:boolean"/>
				<xs:attribute name="displaySequence" type="xs:int"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NameAddressList">
		<xs:annotation>
			<xs:documentation>Collection of NameAddress</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameAddress" type="tns:NameAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameCreditCard">
		<xs:complexContent>
			<xs:extension base="c:CreditCard">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="primary" type="xs:boolean"/>
				<xs:attribute name="displaySequence" type="xs:int"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NameCreditCardList">
		<xs:annotation>
			<xs:documentation>Collection of NameCreditCard</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameCreditCard" type="tns:NameCreditCard" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameEmail">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="primary" type="xs:boolean"/>
				<xs:attribute name="displaySequence" type="xs:int"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
				<xs:attribute name="emailType" type="xs:string" use="optional"/>
				<xs:attribute name="emailFormat" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameEmailList">
		<xs:annotation>
			<xs:documentation>Collection of NameEmail</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameEmail" type="tns:NameEmail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameMembership">
		<xs:complexContent>
			<xs:extension base="c:Membership">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="primary" type="xs:boolean"/>
				<xs:attribute name="preferred" type="xs:boolean" use="optional"/>
				<xs:attribute name="central_setup_yn" type="xs:boolean" use="optional"/>
				<xs:attribute name="membership_class" type="xs:string" use="optional"/>
				<xs:attribute name="points_label" type="xs:string" use="optional"/>
				<xs:attribute name="status" type="xs:string" use="optional"/>
				<xs:attribute name="displaySequence" type="xs:int"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
				<xs:attribute name="usedInReservation" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NameMembershipList">
		<xs:annotation>
			<xs:documentation>Collection of NameMembership</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameMembership" type="tns:NameMembership" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NamePhone">
		<xs:complexContent>
			<xs:extension base="c:Phone">
				<xs:attribute name="operaId" type="xs:long"/>
				<xs:attribute name="externalId" type="xs:string"/>
				<xs:attribute name="primary" type="xs:boolean"/>
				<xs:attribute name="displaySequence" type="xs:int"/>
				<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NamePhoneList">
		<xs:annotation>
			<xs:documentation>Collection of NamePhone</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePhone" type="tns:NamePhone" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NativeName">
		<xs:complexContent>
			<xs:extension base="c:PersonName">
				<xs:attribute name="languageCode" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NegotiatedRate">
		<xs:attribute name="operaId" type="xs:long"/>
		<xs:attribute name="resortCode" type="xs:string"/>
		<xs:attribute name="rateCode" type="xs:string" use="required"/>
		<xs:attribute name="commissionCode" type="xs:string"/>
		<xs:attribute name="beginDate" type="xs:date"/>
		<xs:attribute name="endDate" type="xs:date"/>
		<xs:attribute name="displaySequence" type="xs:int"/>
		<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
	</xs:complexType>
	<xs:complexType name="NegotiatedRateList">
		<xs:annotation>
			<xs:documentation>Collection of NegotiatedRate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NegotiatedRate" type="tns:NegotiatedRate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Preference">
		<xs:sequence>
			<xs:element name="PreferenceDescription" type="c:DescriptiveText" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="resortCode" type="xs:string"/>
		<xs:attribute name="preferenceType" type="xs:string"/>
		<xs:attribute name="otherPreferenceType" type="xs:string"/>
		<xs:attribute name="preferenceValue" type="xs:string"/>
		<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
	</xs:complexType>
	<xs:complexType name="PreferenceList">
		<xs:annotation>
			<xs:documentation>Collection of Preference</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Preference" type="tns:Preference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Profile">
		<xs:sequence>
			<xs:element name="ProfileIDs" type="c:UniqueIDList" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Customer" type="tns:Customer"/>
				<xs:element name="Company" type="tns:Company"/>
			</xs:choice>
			<xs:element name="CreditCards" type="tns:NameCreditCardList" minOccurs="0"/>
			<xs:element name="Addresses" type="tns:NameAddressList" minOccurs="0"/>
			<xs:element name="Blacklist" type="tns:BlackList" minOccurs="0"/>
			<xs:element name="Phones" type="tns:NamePhoneList" minOccurs="0"/>
			<xs:element name="EMails" type="tns:NameEmailList" minOccurs="0"/>
			<xs:element name="Preferences" type="tns:PreferenceList" minOccurs="0"/>
			<xs:element name="Memberships" type="tns:NameMembershipList" minOccurs="0"/>
			<xs:element name="NegotiatedRates" type="tns:NegotiatedRateList" minOccurs="0"/>
			<xs:element name="Comments" type="tns:CommentList" minOccurs="0"/>
			<xs:element name="UserDefinedValues" type="c:UserDefinedValueList" minOccurs="0"/>
			<xs:element name="Privacy" type="tns:PrivacyList" minOccurs="0"/>
			<xs:element name="UserGroup" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="groupType" type="tns:UserGroupType" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="StayHistory" type="tns:StayHistoryData" minOccurs="0"/>
			<xs:element name="Id" type="c:GovernmentID" minOccurs="0">
			<xs:annotation>
					<xs:documentation>Reservation schema refers same profile element to manage profiles however  GovernmentID is not supported by Reservation WS</xs:documentation>
			</xs:annotation>
			</xs:element>

			<xs:element name="KeyWord" type="tns:KeyWordList" minOccurs="0"/>
			<xs:element name="Features" type="hc:RoomFeatureList" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nameType" type="xs:string"/>
		<xs:attribute name="protected" type="xs:boolean"/>
		<xs:attribute name="languageCode" type="xs:string"/>
		<xs:attribute name="nationality" type="xs:string"/>
		<xs:attribute name="vipCode" type="xs:string"/>
		<xs:attribute name="taxExempt" type="xs:boolean"/>
		<xs:attributeGroup ref="c:RecordAdministratorAttributes"/>
		<xs:attribute name="active" type="xs:boolean"/>
		<xs:attribute name="yieldMarketCode" type="xs:string" use="optional"/>
		<xs:attribute name="customerValue" type="xs:string" use="optional"/>
		<xs:attribute name="protectedBy" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ProfileList">
		<xs:sequence>
			<xs:element name="Profile" type="tns:Profile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivacyList">
		<xs:sequence>
			<xs:element name="PrivacyOption" type="tns:PrivacyOptionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UserGroupType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAM"/>
			<xs:enumeration value="BOOKER"/>
			<xs:enumeration value="BOOKER2"/>
			<xs:enumeration value="COMPANY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UserGroup">
		<xs:attribute name="groupType" type="tns:UserGroupType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrivacyOptionType">
		<xs:attribute name="OptionType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Promotions"/>
					<xs:enumeration value="MarketResearch"/>
					<xs:enumeration value="ThirdParties"/>
					<xs:enumeration value="LoyaltyProgram"/>
					<xs:enumeration value="Privacy"/>
					<xs:enumeration value="Email"/>
					<xs:enumeration value="Mail"/>
					<xs:enumeration value="Phone"/>
					<xs:enumeration value="SMS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OptionValue" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="YES"/>
					<xs:enumeration value="NO"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NameIdNameAddress">
		<xs:all>
			<xs:element name="ProfileId" type="c:UniqueID"/>
			<xs:element name="Name" type="tns:NativeName"/>
			<xs:element name="Address" type="tns:NameAddress" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="NameIdNameAddressList">
		<xs:sequence>
			<xs:element name="NameAndAddresses" type="tns:NameIdNameAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupCriteriaMembership">
		<xs:sequence>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="MembershipType" type="xs:string" minOccurs="0"/>
			<xs:element name="MembershipNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="NativeName" type="tns:NativeName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupCriteriaCreditCard">
		<xs:sequence>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="CardCode" type="xs:string"/>
			<xs:choice>
				<xs:element name="CardNumber" type="xs:string"/>
				<xs:element name="LookupVaultedCardData" type="tns:LookupVaultedCardType"/>
			</xs:choice>
			<xs:element name="NativeName" type="tns:NativeName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupCriteriaEmailAddress">
		<xs:sequence>
			<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupAll">
		<xs:annotation>
			<xs:documentation>Name Lookup General Criteria is only used for O2G service</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="MembershipType" type="xs:string" minOccurs="0"/>
			<xs:element name="MembershipNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CardCode" type="xs:string" minOccurs="0"/>
			<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="ActiveYn" type="xs:string" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="CardNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="LookupVaultedCardData" type="tns:LookupVaultedCardType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="NativeName" type="tns:NativeName" minOccurs="0"/>
			<xs:element name="NoOfRows" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupCriteriaName">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="NameType" type="c:ProfileType" minOccurs="0"/>
			<xs:element name="NativeName" type="tns:NativeName" minOccurs="0"/>
			<xs:element name="ActiveYn" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameLookupInput">
		<xs:choice>
			<xs:element name="Membership" type="tns:NameLookupCriteriaMembership"/>
			<xs:element name="CreditCard" type="tns:NameLookupCriteriaCreditCard"/>
			<xs:element name="EmailAddress" type="tns:NameLookupCriteriaEmailAddress"/>
			<xs:element name="NameLookup" type="tns:NameLookupAll"/>
			<xs:element name="Name" type="tns:NameLookupCriteriaName"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StayHistoryData">
		<xs:sequence>
			<xs:element name="LastStay" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="TotalNumberOfStays" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="LastRoomNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="LastRate" type="c:Amount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivacyPromptData">
		<xs:sequence>
			<xs:element name="PrivacyPromptFrequency" type="xs:string" minOccurs="0"/>
			<xs:element name="LastPrivacyPromptDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="NextPrivacyPromptDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyWord">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyWordList">
		<xs:annotation>
			<xs:documentation>Collection of KeyWord</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyWord" type="tns:KeyWord" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LookupVaultedCardType">
		<xs:attribute name="vaultedCardID" type="xs:string" use="required"/>
		<xs:attribute name="lastFourDigits" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
